[Desktop Entry]
Type=Application
Name=CABAL Online (EU)
Comment=CABAL Online EU - The Revolution of Action
Exec=/home/dechros/.local/bin/cabal-online-eu.sh
Icon=cabal-online-eu
Terminal=false
Categories=Game;RolePlaying;
StartupNotify=true
StartupWMClass=cabal.exe
